﻿@using PC_Dashboard_Core.Models
@model ProjectModel

<table class="table table-bordered">
    <thead>
        <tr>
            <th>RUN ID<br />(последнего<br />успешного теста)</th>
            <th>Дата/время последнего<br />успешного теста</th>
            <th>Текущий тест</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.TestRunView.Count(); i++)
        {
            <tr>
                <td>
                    <p>@Model.TestRunView[i].RunId</p>
                    @if (Model.TestRunView[i].RunId != "0")
                    {
                        <form method="post" action="HtmlReport" target="_blank">
                            <input type="text" name="runId" value="@Model.TestRunView[i].RunId" hidden="hidden" />
                            <input type="text" name="projectName" value="@Model.Name" hidden="hidden" />
                            <input type="submit" value="Результаты" />
                        </form>
                    }
                    else
                    {
                        <p>Нет успешных тестов</p>
                    }
                </td>
                <td><p>@Model.TestRunView[i].PassedTest</p></td>
                <td>
                    @if (Model.TestUrl != "#")
                    {
                        <a href="@Model.TestUrl">Онлайн просмотр</a>
                    }
                    else
                    {
                        <p>Тест не запущенн</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


    <ul class="pagination">
        <li>
            <form method="post" action="">
                <input type="text" name="project" value="@Model.Name" hidden="hidden" />
                <input type="text" name="pageNum" value="1" hidden="hidden" />
                <input type="submit" class="btn btn-primary" value="В начало" />
            </form>
        </li>
        @for (int i = 1; i <= Model.TestRun.Count() / 10; i++)
        {
            <li>
                <form method="post" action="">
                    <input type="text" name="project" value="@Model.Name" hidden="hidden" />
                    <input type="text" name="pageNum" value="@i" hidden="hidden" />
                    <input type="submit" class="btn btn-primary" value="@i" />
                </form>
            </li>
        }
        <li>
            <form method="post" action="">
                <input type="text" name="project" value="@Model.Name" hidden="hidden" />
                <input type="text" name="pageNum" value="@(Model.TestRun.Count() / 10 + 1)" hidden="hidden" />
                <input type="submit" class="btn btn-primary" value="В конец" />
            </form>
        </li>
    </ul>
