﻿@{
    ViewData["Title"] = "HP PC Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int projectCounter = 1;
    string collapseSharp = "#collapse";
    string collapse = "collapse";
}
@model List<ProjectModel>

<table class="table table-bordered">
    <caption>Проекты @GlobalData.login</caption>
</table>
<div class="panel-group" id="accordion">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="@collapseSharp@projectCounter">@Model[i].Name</a>
                </h4>
            </div>
            <div id="@collapse@projectCounter" class="panel-collapse collapse">
                <div class="panel-body" id="paggingBody">
                    @Html.Partial("_PaggingPartial", Model[i])
                </div>
            </div>
        </div>
        projectCounter++;
    }
</div>
<table class="table table-bordered">
    <tfoot>
        <tr>
            <th colspan="4">Информация по состоянию на @DateTime.Now.ToString()</th>
        </tr>
    </tfoot>
</table>
