﻿@{
    ViewData["Title"] = "HP PC Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Проекты для учётной записи отсутствуют</h2>
<p>1. Проверьте корректность введённого имени пользователя и пароля.</p>
<p>2. Зайдите в Performance Center, и убедитесь, что Вам доступен по крайней мере один проект.</p>
<p>3. Обратитесь к администратору Performance Center с просьбой добавить Вашу учётную запись в необходимые проекты.</p>
