﻿@{
    ViewData["Title"] = "HP PC Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HTML Report по запрошенному тесту отсутсвует</h2>
<p>Перейдите в Performance Center и проверьте, что тест прошёл успешно и по тесту выполнен анализ результатов.</p>
