﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!--  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>-->
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container text-center">
            <div class="navbar-header navbar-fixed-top">
                <form method="post" action="Home/Index">
                    <input type="text" name="login" placeholder="Login" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="submit" value="Login" />
                </form>
            </div>
        </div>
    </nav>
    <div class="container text-center">
        @RenderBody()
    </div>
    <div class="container-fluid text-center navbar-fixed-bottom">
        <div>&copy; </div>
    </div>
</body>
</html>
