﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">@GlobalData.login</h1>
<h2 class="text-danger">Ваша учётная запись не привязана ни к одному проекту или не зарегистрирована в ALM</h2>
